# Assignment - Abhijeet Borgaonkar

In [1]:
s = "this is My First Python programming class and i am learNING python string and its function"

###### 1 . Try to extract data from index one to index 300 with a jump of 3

In [2]:
s[1:300:3]

'h   r tnrrmglsnimeNGyosi dtfco'

##### 2. Try to reverse a string without using reverse function

In [3]:
s[::-1]

'noitcnuf sti dna gnirts nohtyp GNINrael ma i dna ssalc gnimmargorp nohtyP tsriF yM si siht'

##### 3. Try to split a string after conversion of entire string in uppercase

In [4]:
s.upper().split()

['THIS',
 'IS',
 'MY',
 'FIRST',
 'PYTHON',
 'PROGRAMMING',
 'CLASS',
 'AND',
 'I',
 'AM',
 'LEARNING',
 'PYTHON',
 'STRING',
 'AND',
 'ITS',
 'FUNCTION']

##### 4. try to convert the whole string into lower case

In [5]:
s.lower()

'this is my first python programming class and i am learning python string and its function'

##### 5 . Try to capitalize the whole string

In [6]:
s.capitalize()

'This is my first python programming class and i am learning python string and its function'

##### 7. Try to give an example of expand tab

In [7]:
s="how\tTo\texpand\tdtabs\tin\tphython"
s.expandtabs()

'how     To      expand  dtabs   in      phython'

##### 8. Give an example of strip , lstrip and rstrip

In [8]:
s="   Saanvi  "
a=s.strip()
b=s.lstrip()
c=s.rstrip()
print(a)
print(b)
print(c)

Saanvi
Saanvi
   Saanvi

##### 9. Replace a string charecter by another charector by taking your own example

In [9]:
s="Saanvi Borgaonkar"
s.replace("a","P")

'SPPnvi BorgPonkPr'

##### 10 . Try  to give a definition of string center function with and exmple

In [10]:
s=" Vande Matram "
s.center(20,"*")

'*** Vande Matram ***'

##### 11. Write your own definition of compiler and interpretor without copy paste form internet in your own language

# Ans11--> Interpretor works line by line and compiler acts on whole code at time